@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* para el titulo*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.container {
  min-height: 100vh;

  max-width: 100vw;
  background-color: rgba(3, 3, 3, 0.993);
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  overflow: auto;
}

.main {
  margin:0 !important;
  padding: 0;
  margin: 0 !important;
  max-width: 100vw !important;
  min-height: 80vh;
  height: 100%;
  gap: 0;
}

.container .header {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  height: 150px; 
  text-align: center;
  margin: 0;
  padding: 0;
}

.container .header .containerTitle {
  text-align: center;
  padding: 0;
  margin: 0;
  margin: auto;
  height: 100px;
}

.container .header .containerTitle .title {
  font-size: 14mm;
  font-family: 'Black Ops One';
  color: rgb(236, 236, 236);
}

.container .header .subtitulo {
  color:#bd046a;
  animation: color-change 6s linear infinite;
}


/* DASBOARD */

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
  gap:0;
}

.dashboard .reproductor {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dashboard .listaVideos {
   margin:0;
   padding: 0;
   display:flex;
   flex-direction: column;
   gap: 9px;
   flex-wrap: wrap;
   flex-direction: row;
   text-align: center;
   justify-content: center;
   margin-top: 10px;
   overflow: hidden;
   max-width: 100vw;
}

.listaItem {
  width: 300px;
  height: 260px;
  margin: 0;
  display: grid;
  flex-direction: column;
  grid-template-rows: 80% 20%;
  gap: 0px;
  text-align: left;
  margin: 0;
  cursor: pointer;
  z-index: 1000;
  border: 0.5px solid #202020;
  border-radius: 1px;
}

.listaItem:hover {
  background-color: #0c0c0cd7;
}

.listaItem .creditos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 5px 10px 5px;
}

.listaItem .creditos .titulo {
  margin: 0px;
  font-size: 15px;
  text-align: left;
  line-height: 16px;
  color: #fff;
  font-family: 'Sarabun', sans-serif;
  text-align: center;
}

.listaItem .vistas, .listaItem .creditos .usuario {
 font-weight: 500;
 font-size: 13px;
 margin: 2px 0 0 0;
 color:#bd046a;
 font-family: 'Sarabun', sans-serif;
}

.navegation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 5px;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.navegation .navItem {
  color: #fff;
  color:#bd046a;
  padding: 5px;
  display: block;
  width: 80px;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

.navegation .navItem:hover {
  background-color: #353535;
  color: #fff;
}

/* --  */

.footer {
  justify-self:flex-end;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgb(175, 175, 175);
 
}

.footer .butRegistrarse {
  width: 110px;
  height: 30px;
  border: 1px solid #979797;
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  background-color: #c2c0c0;
}

.footer .butRegistrarse:hover {
 background-color: #636363;
 color: #131313;
}




@keyframes color-change {
  0% {
    color:#bd046a;
  }
  50% {
    color: rgb(152, 17, 179);
  }
  100% {
    color:#bd046a;
  }
}


@media (max-width: 430px) {
  .container .header .containerTitle {
    height: 120px;
    margin-top: 20px;
    text-align: center;
  }
  .container .header .containerTitle .title {
    font-size: 10mm;
    margin-bottom: 0;
  }
  .dashboard {
    gap: 0 0px;
  }

  .dashboard .listaVideos {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    gap: 12px 0;
    padding: 0;
  }

  .dashboard .listaVideos .listaItem {
    width: 90%;
  } 
  
  .footer {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 15px;
  }
}


